@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
body{
    background: #89479f;
}
.wrapper{
    position: absolute;
    bottom:30px;
    right:30px;
    max-width:365px;
    background: #fff;
    padding:25px 25px 30px 25px;
    border-radius:5px;
    box-shadow:1px 7px 14px -5px rgba(0,0,0,0.15);
    text-align: center;
}
.wrapper.hide{
    opacity:0;
    pointer-events: none;
    transform:scale(0.8);
    transition:all 0.3s ease;
}
::selection{
    color:#fff;
    background: #89479f;
}
.wrapper img{
    max-width:90px;
}
.content header{
    font-size:25px;
    font-weight:600;
}
.content{
    margin-top:10px;
}
.content p{
    color:#858585;
    margin: 5px 0 20px 0;
}
.content .buttons{
    display:flex;
    align-items: center;
    justify-content: center;
}
.buttons button, a{
    padding:10px 20px;
    border:none;
    outline:none;
    color:#fff;
    font-size:16px;
    font-weight:500;
    border-radius:3px;
    background: #89479f;
    cursor:pointer;
    transition:all 0.3s ease;
}
.buttons a{
    background: #ff1a5a;
    text-decoration:none;
}
.buttons button:hover, .buttons a:hover{
    transform:scale(0.97);
}
.buttons .item{
    margin:0 10px;
}
.buttons a{
    color:#fff;
}